/* Primero restablecemos los valores inciales que tienen los elementos HTML al aplicar el estilo CSS de forma global con el asterisco */
* {
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.page {
  margin: auto;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: black;
  background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

/* Contenedor header */
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30%;
  width: 100%;
  padding: 30px 80px 10px;
  position: relative;
  box-sizing: border-box;
  color: #000000;
}

/* Título de la página */
.header__title {
  margin-top: 20px;
  max-width: 729px;
  font-size: 60px;
  line-height: 72px; /*altura de la línea*/
  letter-spacing: -0.6px;
  color: black;
  font-weight: 500;
  font-style: normal;
}

.header__subtitle{
  margin:0;
  max-width: 700px;
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
  line-height: 72px; /*altura de la línea*/
  text-align: center;
  letter-spacing: -0.6px;
  color: black;
}

.nav {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/* Contenedor del input para el username y botón de para comenzar */
.header__username {
  margin:0;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Etiqueta del input */
.username__label {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

/* Input */
.username__input {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 12px;
  width: 200px;
}

/* Botón de input */
.username__button {
  border-radius: 12px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.content {
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  Overflow:hidden;
 
}

/* Imagen de la web */
.content__image {
  width: 100%;
  height: 100vh;
  margin:0;
  object-fit:cover;
}

.footer {
  color: #000000;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.footer__copyright {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 20px;
  display: flex;
  flex-basis: 1000px; /*permite establecer la dimensión de un elemento a lo largo del eje principal en píxeles.*/
  justify-content: center;
  position: relative;
  min-height: 10%;
}
