* {
    margin: 0;
    padding: 0;
  }
  
html, body{
  height: 100%;
}
  /* Contenedor principal */
  .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: black;
    background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  }
  
  /* Contenedor header */
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 80px 10px;
    box-sizing: border-box;
    color: #000000;
  }
  
  /* Título de la página */
  .header__title {
    margin-top: 20px;
    max-width: 729px;
    font-size: 60px;
    line-height: 72px; /*altura de la línea*/
    letter-spacing: -0.6px;
    color: black;
    font-weight: 500;
    font-style: normal;
  }
  
  /* Descripción de la web */
  .header__description {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 683px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-style: italic;
  }

  /* Saludo de bienvenida usuaria */
  .header__bienvenida {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
    padding: 20px;
  }
  
  /*main*/
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow:hidden;
  }
  
  .category__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 250px;
    gap: 50px;
    width: 90%;
    padding: 20px;
  }

  .category__card{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .category__card.kdrama{
    background-image: url(https://cdn.glitch.global/c5e872d1-ff8b-4bbd-8176-93c13a2240da/category_kdrama.jpg?v=1715358196090);
  }

  .category__card.kpop{
    background-image: url(https://cdn.glitch.global/c5e872d1-ff8b-4bbd-8176-93c13a2240da/category_kpop.webp?v=1715358187767);
  }

  .category__card.kfood{
    background-image: url(https://cdn.glitch.global/c5e872d1-ff8b-4bbd-8176-93c13a2240da/category_kfood.jpg?v=1715358191494);
  }

  .category__card.random{
    background-image: url(https://cdn.glitch.global/c5e872d1-ff8b-4bbd-8176-93c13a2240da/category_random.jpg?v=1715359845148);
  }
  .category__title{
    font-size: 50px;
    font-weight: 900;
    color: white;
    margin: 20px;
  }

  .footer {
    margin-top: auto;
    color: #000000;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  }
  
  .footer__copyright {
    margin: 0;
    display: flex;
    justify-content: center;
  }
